```javascript
```javascript,icon=.devicon-javascript-plain.colored,lang=JavaScript

```html
```html,icon=.devicon-html5-plain.colored,lang=HTML

```css
```css,icon=.devicon-css3-plain.colored,lang=CSS

```sql
```sql,icon=.devicon-mysql-original.colored,lang=SQL

```typescript
```typescript,icon=.devicon-typescript-plain.colored,lang=TypeScript

```bash
```bash,icon=.devicon-bash-plain,lang=Bash